@using Testovoe.Models;
@model IEnumerable<Deal>;
@{
    ViewData["Title"] = "Home Page";
}
<a asp-action="NewDeal" asp-route-id="1">Создать новый чек</a> | 
<a asp-action="ClientList">Список клиентов</a> | 
<a asp-action="logout" asp-controller="Account">Выход</a> | 
<table class="table">
    @foreach (Deal item in Model)
    {
        <tr>
            <td>@item.Date</td>
            <td>@item.TransactionAmout</td>
            <td>@item.Client.FirstName</td>
            <td>@item.User.FirstName</td>
        </tr>
    }
</table>
